<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attendence-heading">Create or edit a Attendence</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_grade">Grade</label>
                    <select class="form-control" id="field_grade" name="grade" formControlName="gradeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeOption.id" *ngFor="let gradeOption of grades; trackBy: trackById">{{ gradeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attendenceDate">Attendence Date</label>
                    <select class="form-control" id="field_attendenceDate" name="attendenceDate" formControlName="attendenceDateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="attendenceDateOption.id" *ngFor="let attendenceDateOption of attendencedates; trackBy: trackById">{{ attendenceDateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
