<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gradeTeacher">
            <h2><span>Grade Teacher</span> {{ gradeTeacher.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ gradeTeacher.date }}</span>
                </dd>
                <dt><span>Grade</span></dt>
                <dd>
                    <div *ngIf="gradeTeacher.gradeId">
                        <a [routerLink]="['/grade', gradeTeacher.gradeId, 'view']">{{ gradeTeacher.gradeGrade }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ gradeTeacher.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grade-teacher', gradeTeacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
