<div>
    <h2 id="page-heading">
        <span>Grade Teachers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grade-teacher" [routerLink]="['/grade-teacher/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Grade Teacher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gradeTeachers?.length === 0">
        <span>No gradeTeachers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gradeTeachers && gradeTeachers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Grade</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gradeTeacher of gradeTeachers ;trackBy: trackId">
                    <td><a [routerLink]="['/grade-teacher', gradeTeacher.id, 'view']">{{ gradeTeacher.id }}</a></td>
                    <td>{{ gradeTeacher.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="gradeTeacher.gradeId">
                            <a [routerLink]="['/grade', gradeTeacher.gradeId , 'view']" >{{ gradeTeacher.gradeGrade }}</a>
                        </div>
                    </td>
                    <td>
                        {{ gradeTeacher.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/grade-teacher', gradeTeacher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/grade-teacher', gradeTeacher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gradeTeacher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
